<div>
    <div class="row">
        <div class="col-sm-6">
            <label>Ciudades</label>
            <it-select datos="vm.ciudades" ng-model="vm.seleccionados"></it-select>
        </div>
        <div class="col-sm-6">
            <label>Clientes</label>
            <it-select datos="vm.clientes" ng-model="vm.seleccionadosCliente"></it-select>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <label>Otro campo</label>
            <input placeholder="Otro valor" class="form-control" />
        </div>
    </div>
</div>