<div style="padding-bottom: 1cm">
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group" style="position:absolute; z-index:2">
                <input type="text" class="form-control" placeholder="Buscar" ng-model="buscar.$" ng-keypress="mostrar = true" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2" ng-click="mostrar = !mostrar"><a class="caret"></a></span>
            </div>
        </div>
        <div class="col-sm-12" ng-show="modelo.length > 0">
            <br/>
            <br/>
            <div style="position:absolute; z-index:1; width:100%">
                <ul class="list-inline">
                    <li ng-repeat="seleccionado in modelo">
                        <a><small>{{seleccionado.Valor}}</small><span class="glyphicon glyphicon-remove" ng-click="eliminar(seleccionado)"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12">
            <ul ng-show="mostrar" class="list-group" style="position:absolute; z-index:1; width:100%">
                <li class="list-group-item" ng-repeat="mod in datos | filter:buscar">
                    <a ng-click="agregar(mod)">Id: {{mod.Guid}} Valor: {{mod.Valor}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>